<div class="row">
  <div class="col-md-4 mx-auto">
    {{#each errors}}
    <div class="alert alert-danger text-center alert-dismissible fade show" role="alert">
      {{text}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{else}}

    {{/each}}
  </div>
</div>

<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card card-body main-color-bg dark-shade">
      <h3>Edit {{project.year}} {{project.make}} {{project.model}} Plans</h3>
      <form action="/projects/{{project.id}}?_method=PUT" method="post" >
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
          <textarea class="form-control" name="plans">{{project.plans}}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Save Changes</button>
      </form>
    </div>
  </div>
</div>