<div class="row">
  <div class="col-md-8 mx-auto">
    <h1 class="text-center mb-5">Here are your projects</h1>

    {{#each projects}}
    <div class="card card-body mb-2 text-white bg-primary">
      <h4 class="card-title text-center">{{year}} {{make}} {{model}}</h4>
      <p class="card-text">{{plans}}</p>
      <div class="row">
        <div class="col-md-2">
          <a href="/projects/edit/{{id}}" class="btn btn-light">Edit</a>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2">
          <form action="/projects/{{id}}?_method=DELETE" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
    {{else}}
    <p>It looks like you haven't added any projects, you can do so from the drop down menu on the top right of the site.</p>
    {{/each}}
  </div>
</div>